<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
     <!--meio q transforma em componente ai da p chamar o bloco -->
    <title>
        {% block title %}
        Fléshi - Página Inicial
        {% endblock %}
    </title>
</head>
{% block body%}


<body>
 <h1>Fléshi- Página Inicial</h1>

        <h1>Fléshi</h1>


        {% block form %}
            <form method="POST">
            {{ form.csrf_token }}
                {{ form.email.label() }}
                {{ form.email() }}

                 {{ form.password.label() }}
                 {{ form.password() }}

                 {{ form.submit() }}
            </form>
        {% endblock %}

</body>
{%endblock %}

</html>


