{% extends "homepage.html" %}

{% block title %}
    Perfil - {{ username }}

{% endblock %}


{% block body %}
    <body>
        <h1>Perfil do usuário: {{ user.username }}</h1>


        {% if user.bio %}
            <p class="bio">{{ user.bio }}</p>
        {% else %}
            <p class="bio" style="color:gray;">Nenhuma biografia adicionada.</p>
        {% endif %}

        {% if current_user.id == user.id %}
            <a href="{{ url_for('editar_perfil') }}">Editar biografia</a>
        {% endif %}

        {% if form %}
            <form method="post" enctype="multipart/form-data">
                {{ form.csrf_token }}

                {{form.photo() }}
                {{ form.submit() }}
            </form>


        {% endif %}




        {% for photo in user.photos %}
            <img src="{{ url_for('static', filename='posts_photos/'~ photo.file_name) }}" alt="~ photo.file_name" >
        {% endfor %}

        <a href="{{ url_for('logout') }}">sair</a>
    </body>
{% endblock %}