{% extends "homepage.html" %}

{% block title %}
    fléshi - feed
{% endblock %}

{% block body %}

    {% include "navbar.html" %}

    <div class="container mt-4">
        <h1 class="text-center mb-4 fw-bold text-primary">Feed </h1>

        <div class="row g-4">

            {% for photo in photos %}
            <div class="col-6 col-md-4 col-lg-3 d-flex justify-content-center">

                <a href="{{ url_for('profile', user_id=photo.user_id) }}" class="w-100">
                    <img
                         src="{{ url_for('static', filename='posts_photos/' ~ photo.file_name) }}"
                         alt="{{ photo.file_name }}"
                         class="img-fluid rounded shadow-sm"
                         style="object-fit: cover; width: 100%; height: 250px;">
                </a>

            </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}
